In [1]:
import pandas as pd

In [8]:
results = pd.read_csv("results.csv")

In [14]:
shared_actors = pd.DataFrame(results['movie_or_TV_name'].value_counts())

In [18]:
shared_actors = shared_actors.reset_index()

In [21]:
shared_actors.columns = ['Movie/TV', 'Number of Shared Actors']

In [22]:
shared_actors.head()

       Movie/TV  Number of Shared Actors
0  Black Mirror                      506
1       Doctors                       93
2    Holby City                       78
3      Casualty                       76
4      The Bill                       70