In [1]:
import pandas as pd

In [2]:
# read in results.csv
results = pd.read_csv("results.csv")

In [3]:
# count the number of times each movie/TV appears in the dataframe, 
# which is equal to the number of actors in Black Mirror who are also in the movie/TV
shared_actors = pd.DataFrame(results['movie_or_TV_name'].value_counts())
# reset index so that movie/TV names can be treated as a normal column
shared_actors = shared_actors.reset_index()
# rename the columns
shared_actors.columns = ['Movie/TV', 'Number of Shared Actors']

In [7]:
# display the first 20 movies/TVs with the most shared actors
shared_actors.head(20)

                                Movie/TV  Number of Shared Actors
0                           Black Mirror                      506
1                                Doctors                       93
2                             Holby City                       78
3                               Casualty                       76
4                               The Bill                       70
5                             EastEnders                       62
6                       Midsomer Murders                       59
7                         Silent Witness                       55
8                  Entertainment Tonight                       54
9                             Doctor Who                       50
10                        Celebrity Page                       47
11                     Made in Hollywood                       47
12                  Good Morning America                       38
13  The Late Late Show with James Corden                       37
14                     Death in Paradise                       36
15                              Lorraine                       33
16                            New Tricks                       32
17                             Breakfast                       30
18                                  MI-5                       30
19                       Inspector Lewis                       28